---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
		<span class="post-meta">
			{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}
		</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
		  {{ post.title }}
		  <font size=-1>{% if post.subtitle %} <br><i> {{ post.subtitle }}{% endif %}</i></font>
		  </a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
